h1          { background-color: gray; color: white; text-align: center; }
table,th,td { border-spacing: 2px; padding: 5px; }
th          { background-color: red; color: white; text-align: left; }
td          { background-color: green; color: white; }
